body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://images.unsplash.com/photo-1514306191717-452ec28c7814?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') fixed;
  background-size: cover;
}
img {
  width: 350px;
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}
